.header {
  background: linear-gradient(to right, #00b4db, #0083b0);
  color: #fff;
  padding: 10px 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.welcome {
  font-size: 18px;
}
